/* #6610f2;
#6f42c1;
#212529

#343a40
*/
.m-d{
  margin-top: 10px;
  padding: 10px;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Main-container{
  height: auto;
  width: 100%;
  border: 1px solid #000;
}
.mini{
  height: auto;
  display: flex;
  justify-content: end;
  padding: 10px 0px;
  width: 100%;
  background-color: #212529;
  /* background-color: rgba(0,0,0,.87); */
}
.home-login{
  display: flex;
  height: 40px;
  width: 100px;
  /* background-color: rgb(25, 0, 255); */
  background-color: #343a40;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: white;
  font-family: "Roboto";
  text-decoration: none;
  align-items: center;
  border-radius: 20px;
  
}
.home-join{
  text-decoration: none;
  display: flex;
  height: 40px;
  width: 150px;
  background-color: #343a40;
  /* background-color: rgb(25, 0, 255); */
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-size: 13px;
  color: white;
  font-family: "Roboto";
  margin: 20px;
  align-items: center;
}

.mini-bx{
  width: auto;
  height: 50px;
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar{
  height: auto;
  /* background-color: rgba(0,0,0,.87); */
  background-color: #212529;
  border-top: 0.4px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
}
.logo{
  width: 70px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: flex;
  color: white;
  font-family: "Roboto";
  justify-content: center;
  align-items: center;
  
  height: 70px;
}
.ul-area{
   display: flex;
}
.ul-area li{
  list-style: none;
  margin: 15px;
}
.ul-area li a{
  color: white;
  text-decoration: none;
  font-family: "Roboto";
}
.nav-search{
  height: 40px;
  border-radius: 100%;
  width: 40px;
  justify-content: center;
  display: flex;
  font-family: "Roboto";
  color: white;
  align-items: center;
  border: 1px solid #fff;
}

@media screen and (max-width: 786px){
  .navbar{
    display: none;
  }
  .mini-bx{
    width: auto;
    height: 50px;
  }
  .home-join{
    margin: 10px;
  }
}
/* ===================================== FIRST CONTAINER ================ */
.first-container{
  height: auto;
  width: 100%;
  /* border: 1px solid #fff; */
  padding: 0px 100px;
  background-color: #212529;
}
.container_x{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  /* border: 1px solid #fff; */
}
.first-container_title{
  padding-bottom: 60px;
  text-align: center;
  width: 80%;
  height: auto;
  /* border: 1px solid #fff; */
  color: white;
}
.first-container_title h1{
  padding-top: 130px;
  font-family: "Roboto";
  font-size: 34px;
}
.first-container_title p{
  font-size: 16px;
  padding-top: 6px;
  line-height: 27px;
  font-family: "Roboto";
}
.first-container_title h4{
  font-family: "Roboto";
  padding-top: 20px;
}
.fd{
  display: flex;
  justify-content: center;
}
.signup_bx_1{
  margin-top: 20px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto";
  border-radius: 30px;
  background-color: #343a40;
  padding: 20px 30px;
}

.head_video{  
  height: 470px;
  width: 100%;
  border: 1px solid #fff;
   background-color: #fff;
   background-image: url(./images/1.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.head_video_bx{
  padding: 0px 10px;
}

@media screen and (max-width: 786px){
  .first-container{
    padding: 0px 20px;
  }
  .first-container_title p{
    font-size: 13px;
  }
  .first-container_title h4{
    padding-top: 10px;
    font-size: 13px;
  }
  .first-container_title h1{
    font-size: 24px;
    line-height: 27px;
  }
  .first-container_title{
    width: 90%;
  }
  .signup_bx_1{
    font-size: 12px;
    padding: 10px 14px;
  }
  .head_video_bx{
    padding: 0px 20px;
  }
}
/* ============================ SECOND CONTAINER ==================== */
.second_container{
  height: auto;
  width: 100%;
  padding: 10px 100px;
  background-color: #212529;
  /* border: 1px solid #fff; */
}
.second_bx{
  height: auto;
  /* border: 1px solid #fff; */
  width: 100%;
  display: flex;
}
.second_bx > div{
  width: 100%;
  border: 1px solid #fff;
  height: 70vh;
  margin: 10px;
}

@media  screen and  (max-width: 789px){
  .second_bx{
    display: block;
  }
  .second_container{
    padding: 10px 30px;
  }
  .second_bx > div{
    margin: 20px 0px;
  }

}
/* ======================= S=second-1 ===========================  */
.second_1{
  width: 100%;
  /* border-bottom: 1px solid #fff; */
  height: auto;
  display: flex;
}
.second_1 > div{
  margin: 10px;
  width: 100%;
  /* border: 1px solid #fff; */
  height: auto;
  color: white;
}
.second1{
  height: 60vh;
  width: 100%;
  border: 1px solid #fff;
  background: url(./images/2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second2{
  height: auto;
  width: 100%;
  /* border: 1px solid #fff; */
}
.second3{
  height: 60vh;
  width: 100%;
  border: 1px solid #fff;
  background: url(./images/3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second5{
  height: 60vh;
  width: 100%;
  border: 1px solid #fff;
  background: url(./images/4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second_1 h4{
  font-size: 22px;
  font-family: "Roboto";
}
.second_1 p{
  font-size: 14px;
  font-family: "Roboto";
  margin-top: 5px;
}
.bx_2{
  background: url(./images/5.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bx_3{
  background: url(./images/6.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and  (max-width: 789px){
  .second_1{
    display: block;
  }
  .second_1 > div{
    margin: 20px 0px;
  }
}
  

/* ======================= S=second-2 ===========================  */
.second_1{
  width: 100%;
  /* border-bottom: 1px solid #fff; */
  height: auto;
  display: flex;
}
.second_1 > div{
  margin: 10px;
  width: 100%;
  /* border: 1px solid #fff; */
  height: auto;
  color: white;
}
.second9{
  height: 60vh;
  width: 100%;
  border: 1px solid #fff;
  background: url(./images/10.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second2{
  height: auto;
  width: 100%;
  /* border: 1px solid #fff; */
}
.second7{
  height: 60vh;
  width: 100%;
  border: 1px solid #fff;
  background: url(./images/11.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second8{
  height: 60vh;
  width: 100%;
  border: 1px solid #fff;
  background: url(./images/12.webp);
  background-position: center;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.second_1 h4{
  font-size: 22px;
  font-family: "Roboto";
}
.second_1 p{
  font-size: 14px;
  font-family: "Roboto";
  margin-top: 5px;
}


@media screen and  (max-width: 789px){
  .second_1{
    display: block;
  }
  .second_1 > div{
    margin: 20px 0px;
  }
}